.chartly {

  color: #333;
  background: url(/assets/images/paper.png) -300px -300px;
  padding: 20px 0 5px 0;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.5);

  h2 {
    @extend %basepad;
    @extend %josefin;
    font-size: 32px;
    color: #000;
    margin-bottom: 0.5em;
    border-bottom: 3px double $cRed;
  }

  h3 {
    @extend %basepad;
    font-weight: bold;
    margin-bottom: 1em;
  }

  p {
    @extend %basepad;
    display: block;
    width: 90%;
    margin: 0 auto 1em auto;
  }

  img {
    display: block;
    width: 90%;
    margin: 0 auto 20px auto;
    max-width: 600px;
  }

  i {
    font-style: italic;
    font-size: 16px;
  }

  ul {
    margin-bottom: 1em;
  }

  li {
    @extend %basepad;
    width: 80%;
    list-style: square outside;
  }

  li + li {
    margin-top: 0.25em;
  }

  a, a:link, a:visited,
  a:hover, a:active {

    @include clearfix;

    display: block;
    color: #000;
    padding: 10px 5% 10px 5%;
    max-width: 600px;
    margin: 0 auto;
    color: black;
    text-shadow: none;
    background: transparentize($cRed, 0.65);

    &:nth-child(even) {
      background: transparentize($cRed, 0.75);
    }

    &:last-of-type {
      margin-bottom: 1em;
    }

    span {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 2px;
    }

    b {
      float: left;
      font-size: 35px;
      line-height: 1;
      margin-right: 15px;
    }

  }

}
