.fringe {

  color: #fff;
  padding-bottom: 100px;
  background: #121212;
  background-size: 105px;
  padding: 15px 5% 15px 5%;
  text-align: center;

  a, a:link, a:visited,
  a:hover, a:active {
    display: block;
    color: #fff;
    text-align: center;
  }

  img {
    display: block;
    margin: 15px auto 25px auto;
  }

}
